<!DOCTYPE HTML>
<html>
    <head>
        <title>UniBO-Calendar</title>
        <script type = "text/javascript" src = "static/scripts.js" ></script>
        <link rel="stylesheet" href="static/style.css"></link>
    </head>
    <body>
        <h1 id="title">UniBO-Calendar</h1>
        <p id="project_description">
            For any issue you find or if you have some suggestions, you can open a new "issue" in the repository of this project at the following link: <a href="https://gitlab.com/jjocram/unibo-calendar">gitlab.com/jjocram/unibo-calendar</a>
        </p>
        {% block body %}

        {% endblock %}
    </body>
</html>
