{% extends "base.html" %}

{% block body %}
    <form id="form" onsubmit="return validateForm()" method="post">
        <fieldset>
            <legend>Course information</legend>
            <div class="autocomplete form_section" style="width:300px;">
                <input id="course" type="text" name="course_name" placeholder="Course" {% if course_name %}value="{{ course_name }}" {% endif %}>
                <input type="hidden" name="course_url" id="course_url" {% if course_url %}value="{{ course_url }}"{% endif %}/>
            </div>
            <div class="form_section">
                <input type="number" name="year" id="year" placeholder="Year (1, 2, 3, ...)" {% if course_year %}value="{{ course_year }}"{% endif %}/>
            </div>
        </fieldset>

        {% if multiple_curricula %}
        <fieldset id="curricula_fieldset">
            <legend>Curriculum</legend>
            
            <label for="curriculum">Available curricula:</label>
            <select name="curriculum" id="curriculum">
            {% for curriculum in curricula %}
            <option value="{{ curriculum['value']}}" {% if curriculum['value'] == curriculum_posted %}selected{% endif %}>{{ curriculum['label'] }}</option>
            {% endfor %}
            </select>
        </fieldset>
        {% endif %}

        {% if teachings %}
            <fieldset id="teachings_fieldset">
                <legend>Teachings</legend>
                {% for teaching in teachings %}
                    <input type="checkbox" id="{{ teaching.title }}" name="{{ teaching.id }}" value="t"/>
                    <label for="{{ teaching.title }}">{{ teaching.title }}</label>
                    <br>
                {% endfor %}
            </fieldset>
        {% endif %}
        <input type="submit" id="submit_button" value="Next" />
        <input type="reset" id="reset_button" value="Reset" onclick="resetForm()"/>
    </form>

    <script>
        /*An array containing all the courses in UniBO:*/
        var courses = [
            {% for course in available_courses %}
            {
                title: "{{ course.title }}",
                url: "{{ course.url }}"
            },
            {% endfor %}
        ]
        /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
        autocomplete(document.getElementById("course"), courses);
    </script>
{% endblock %}
